<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO friendly URL Checker tool</title>
</head>
<body>
    <h1>SEO friendly URL Checker</h1>
    <form action="/url-checker/analyze" method="POST">
        <label for="url">URL</label>
        <input type="text" id="url" name="url" placeholder="www.myurl.com/test-your-slug" size="28" required> <br><br>
        <label for="keyword">Keyword</label>
        <input type="text" id="keyword" name="keyword" placeholder="Enter the target keyword" required> <br><br>
        <input type="submit" value="Analyse">
    </form>
</body>
</html>